{% extends "base.html" %}
{% block styles %}
<style>
  body {
    background-image: url("static/img/opabarnbikes.png");
    background-position: 0% -100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #000000;
    background-opacity: 0.5;
    margin-top: 60px;
    height: 74vh;
  }

  .jumbotron {
    background-color: transparent;
  }
  .card.card-fluid {
    margin: auto;
    margin-top: 100px;
    background-color: transparent;
  }
  .display-2{
    color: white;
  }

  .lead {
    color: white;
  }
</style>
{% endblock %}

{% block content %}

    <!-- jumbotron -->
    <!-- <div class="jumbotron jumbotron-fluid text-white">
      <div class="container text-sm-center pt-5"> -->
    <div class="card card-fluid" style="width: 36rem;">
      <div class="card-body text-sm-center pt-5">
        <h1 class="display-2">NOMAD</h1>
        <p class="lead">Plan your next bike ride!</p>

        <div class="btn-group mt-4" role="group" aria-label="Callout buttons">
          <a class="btn btn-primary btn-lg" href="/register">Register Now</a>
          <a class="btn btn-light btn-lg" href="/PublicEvent">See Events</a>
        </div>

      </div>

  </div><!-- /jumbotron -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    {% endblock %}