{% extends "base.html" %}
{% block styles %}
<style>
    .btn-group-lg>.btn, .btn-lg {
    font-size: 12px;
    line-height: 1.5;
    width: 275px;
    }

    a {
        color: limegreen;
    }

    body {
        background-color: lightgray;
    }

    .nav-tabs {
    border-bottom: 1px solid gray;
    }

    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: white;
    background-color: gray;
    border-color: transparent;
    }

</style>
{% endblock %}
{% block content %}
   <!--  profile content -->
<!-- Include the above in your HEAD tag -->
<div class="container emp-profile pt-5">
    <form method="post">
        <div class="row pt-5">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog" alt=""/>
                    <div class="file btn btn-lg btn-success">
                        Change Photo
                        <input type="file" name="file"/>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                            <h5 style="font-weight: bold;">
                                {{user.road_name}}
                            </h5>
                            <h6>
                                Love Riding Harleys on the Weekends
                            </h6>
                    <ul class="nav nav-tabs pt-5" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">My Ratings</a>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">My Rides</a>
                        </li> -->
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <input type="submit" class="profile-edit-btn btn-success" name="btnAddMore" value="Edit Profile"/>
            </div>
        </div>
        <!-- profile info under picture -->
        <div class="row">
            <div class="col-md-4 pt-4">
                <div class="col-md-4">
                    <!-- <p>PROFILE</p> -->
                </div>
                <div class="row">
                <div class="col-md-4">
                        <label>Road Name:</label>
                    </div>
                    <div class="col-md-4">
                        <p>{{user.road_name}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label>Name:</label>
                    </div>
                    <div class="col-md-6">
                        <p>{{user.user_name}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label>Email:</label>
                    </div>
                    <div class="col-md-4">
                        <p>{{user.email}}</p>
                    </div>
                </div>
            </div>
            <!-- /profile info under picture -->

            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="well spaced" style="width:97%">

                      {% if user.ratings %}

                        <h3>Ratings</h3>
                        <ul>
                        {% for rating in user.ratings %}
                          <li>
                            <a style="font-weight: bold;" href="/bars/{{ rating.bar_id }}">{{ rating.bar.bar_name }}</a>
                             was rated {{ rating.bar_rating + 1 }} out of 5
                          </li>
                        {% endfor %}
                        </ul>
                      {% endif %}
                    </div>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Experience</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>Expert</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Hourly Rate</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>10$/hr</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Total Projects</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>230</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>English Level</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>Expert</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Availability</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>6 months</p>
                                    </div>
                                </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>Your Bio</label><br/>
                                <p>Your detail description</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}