{% extends "base.html" %}
{% block styles %}
<style>
  body {
      background-color: gray;
      background-opacity: 0.5;
  }

  .row {
      background-color: gray;
      background-opacity: 0.5;
  }

  .card {
           background-color: transparent;
  }

  .rating {
      background-color: gray;
  }

  .card-block {
      margin-top: 34px;
  }

  .rating input[type="radio"]:required + label:after {
      border-radius: 5px;
      content: '';
      position: absolute;
      left: 340px;
      min-height: 10px;
      margin-top: -36px;
      text-align: right;
      background: #6cbf00;
      padding: 10px 10px;
      display: block;
      width: 80px;
  }

  .photo_image.card-img-bottom {
      border-radius: 4px;
      position: relative;
      float: left;
      width:  250px;
      height: 250px;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
      margin-top: 15px;
      margin-bottom: 15px;
  }

  .cont{
    width: 93%;
    max-width: 350px;
    text-align: left;
    color: #EEE;
    overflow: hidden;
  }

  div.stars{
    width: 270px;
    display: inline-block;
  }

  input.star{
    display: none;
  }

  label.star {
    float: right;
    padding: 10px;
    font-size: 36px;
    color: #444;
    transition: all .2s;
  }

  input.star:checked ~ label.star:before {
    content:'\f005';
    color: #FD4;
    transition: all .25s;
  }

  input.star-5:checked ~ label.star:before {
    color:#FE7;
    text-shadow: 0 0 20px #952;
  }

  input.star-1:checked ~ label.star:before {
    color: #F62;
  }

  label.star:hover{
    transform: rotate(-15deg) scale(1.3);
  }

  label.star:before{
    content:'\f006';
    font-family: FontAwesome;
  }

  input.star:checked ~ .rev-box{
    height: 125px;
    overflow: visible;
  }

</style>
{% endblock %}
{% block content %}
<!-- jumbotron -->
  <div class="jumbotron jumbotron-fluid bg-dark text-white">
    <div class="container text-sm-center pt-5">
      <h1 class="display-2">NOMAD</h1>
      <p class="lead">Plan your next bike ride!</p>
    </div>
  </div><!-- /jumbotron -->

  <!-- bar list -->
    {% for bar in bars|sort (attribute='bar_name') %}
    <!-- card box for bars -->
        <section>
        <div class="container">
            <div class="card">
                <div class="row">
                    <div class="col-md-4">
                        <img class="photo_image card-img-bottom" alt="Bar picture" src="{{ bar.bar_pic|safe }}">
                    </div>
                    <div class="col-md-6">
                        <div class="card-block">

                            <h5 class="card-title">{{ bar.bar_name }}</h5>
                            <p class="card-text">{{ bar.bar_address }}</p>
                            <p class="card-text">{{ bar.bar_city }}, {{ bar.bar_state }} {{ bar.bar_zip }}</p>
                            <p class="card-text">{{ bar.bar_phone }}</p>
                            <!-- Rating -->
                            <div class="cont">
                              <div class="stars">
                                <form action="" id="{{ bar.bar_id }}">
                                  <input class="star star-5" id="star-5-{{ bar.bar_id }}" type="radio" name="star"/>
                                  <label class="star star-5" for="star-5-{{ bar.bar_id }}"></label>
                                  <input class="star star-4" id="star-4-{{ bar.bar_id }}" type="radio" name="star"/>
                                  <label class="star star-4" for="star-4-{{ bar.bar_id }}"></label>
                                  <input class="star star-3" id="star-3-{{ bar.bar_id }}" type="radio" name="star"/>
                                  <label class="star star-3" for="star-3-{{ bar.bar_id }}"></label>
                                  <input class="star star-2" id="star-2-{{ bar.bar_id }}" type="radio" name="star"/>
                                  <label class="star star-2" for="star-2-{{ bar.bar_id }}"></label>
                                  <input class="star star-1" id="star-1-{{ bar.bar_id }}" type="radio" name="star"/>
                                  <label class="star star-1" for="star-1-{{ bar.bar_id }}"></label>
                                </form>
                              </div>
                            </div><!-- /Rating -->
                        </div><!-- /card-block -->
                    </div>
                </div>
            </div>
        </div>
        </section>
    {% endfor %}<!-- /bar list -->

{% endblock %}